{% extends 'flatpages/default.html' %}

{% load custom_filters %}

{% block title %}
Список всех новостей
{% endblock title %}

{% block content %}
    <h3>Новостей на сегодня {{news_list|length}}</h3>
    {% if news_list %}
        <table cellpadding="10" width="100%" cols="3" align="center">
            <tr>
                <td><h5>Заголовок</h5></td>
                <td><h5>Дата</h5></td>
                <td><h5>Предпросмотр</h5></td>
                <td><h5>Автор</h5></td>
            </tr>
            {% for news in news_list%}
            <tr>
                <td>{{ news.title|censor }}</td>
                <td>{{ news.created_at|date:'d.m.Y' }}</td>
                <td align="left">{{ news.content|censor|truncatechars:20}}</td>
                <td>{{ news.author.user.username }}</td>
            </tr>
            {%endfor%}
        </table>
    {% else %}
        <h3>Новостей нет</h3>
    {% endif %}

    {# Добавляем пагинацию на страницу #}

    {# Информация о предыдущих страницах #}
    {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
    {% endif %}

    {# Информация о текущей странице #}
    {{ page_obj.number }}

    {# Информация о следующих страницах #}
    {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
    {% endif %}
{% endblock content %}